/* button font */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@1,700&display=swap');
:root {
  --accent-white: #fff4db;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(255, 190, 10);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 3.2em;
  color: var(--accent-white);
  line-height: 1.1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
#modal {
  display: flex;
  border-radius: 2rem;
  background-color: #1d202d;
  width: 35vw;
  height: 45vh;
  box-shadow: 1rem 1rem var(--accent-white);
}
#content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
}
form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
}
input#address {
  width: 50%;
  padding: 0;
  height: 4rem;
}
input#address::placeholder {
  text-align: center;
}
input.submit {
  margin-top: 10%;
  width: 50%;
  height: 6rem;
  color: antiquewhite;
  border-radius: 3rem;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 3em;
  font-weight: bolder;
  font-family: 'Rethink Sans', sans-serif;
  background-color: #e92727;
  cursor: pointer;
  transition: border-color 0.25s;
}
input.submit:hover {
  border-color: var(--accent-white);
}
input.submit:focus,
input.submit:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* for mobile screens */
@media screen and (max-width: 800px) {
  body {
    background-color: lightgreen;
  }
}